<div class="ui two column centered grid">
  <div class="column">
  	<h1 class="ui header">Listado de productos</h1>  	
  </div>
  <div class="two column centered row">
    <div class="column">


    	<%= react_component('DataTable', { url: "/api/web/v1/", resource: "productos", fields: [{field: "codigo", label: "C贸digo", width: 100}, {field: "descripcion", label: "Descripci贸n", width: 400}], filterField: {field: "codigo", name: "Codigo"}}) %>

    	<!--
		<table class="ui compact table">
		  <thead>
		    <tr>
		      <th>C贸digo</th>
		      <th>Descripci贸n</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @productos.each do |producto| %>
		    <tr class= <%= if producto.esta_activo then "" else "negative" end %> >
		      <td><%= producto.codigo %></td>
		      <td><%= producto.descripcion %></td>
		      <td><%= link_to semantic_icon("edit"), edit_producto_path(producto) %></td>
		    </tr>
		    <% end %>
		  </tbody>
		</table>
		-->


    </div>
  </div>
</div>


